body{
  background-color: black;
  color: white;
}
td{
  border-style: outset;;
  border-color: green;
  border-width: thick;
  color: red;
}
h2{
  border-style: inset;
  border-width: thick;
  border-color: green;
  color: red;
}
