body{
  background-image: url("../photo/corkboard.jpg");
  color: black;
  font-family: cursive;
}
td{
  background-image: url("../photo/paper.jpg");
}
#contactAdd{
  background-image: url("../photo/paper.jpg");
  padding-left: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
input[type=text]{
  border: none;
}
